<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="robots" content="noindex"/>
    <title>{{ site.title }} - {{ page.title }}</title>
    <link rel="shortcut icon" type="image/x-icon" href="{{ 'favicon.ico' | relative_url }}"/>
    <link rel="stylesheet" href="{{ 'assets/css/styles.css' | relative_url }}"/>
    <script type="text/javascript" src="{{ 'assets/js/site.js' | relative_url }}"></script>
  </head>
  <body>
    <div class="container">
      <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <a class="navbar-item" href="/">
            <picture>
              <source media="(prefers-color-scheme: dark) and (min-width: 650px)" srcset="{{ 'assets/img/fhp-logo-dark.png' | relative_url }}">
              <source media="(prefers-color-scheme: dark)" srcset="{{ 'assets/img/fhp-logo-dark-small.png' | relative_url }}">
              <source media="(min-width: 650px)" srcset="{{ 'assets/img/fhp-logo.png' | relative_url }}">
              <img src="{{ 'assets/img/fhp-logo-small.png' | relative_url }}" alt="FHP logo">
            </picture>
          </a>
          <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="mainNavBar">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>
        <div id="mainNavBar" class="navbar-menu">
          <div class="navbar-start">
          </div>
          <div class="navbar-end">
            <a class="navbar-item" href="{{ 'contact' | relative_url }}">Contact Us</a>
          </div>
        </div>
      </nav>
      <main role="main" class="container">
        {{ content }}
      </main>
    </div>
  </body>
</html>
